#head1 {
    text-align: center;

}

#head2 {
    text-align: center;
}

#lnmi {
    border: 3 solid gainsboro;
}

.second-line {
    font-size: 25px;
    text-align: center;
}

.third-line {
    font-size: 30px;
    text-align: center;
}

hr {
    border: 0;
    height: 5px;
    background-color: black;
    width: 100%;

}

#time {
    font-size: 35;
    font-weight: bold;
}

#disc {
    text-align: center;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
    font-size: 16px;
    background-color: #fafafa;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

thead th {
    background-color: #2c3e50;
    color: white;
    font-size: 18px;
    padding: 12px;
}

tbody td {
    padding: 10px;
    border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}




body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.heading {
    text-align: center;

}